<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Check Bike Thefts</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
</head>
<body>

@RenderBody()

<script type="text/javascript" src="~/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/js/jquery-3.6.0.min.js"></script>

@RenderSection("Scripts", false)

</body>
</html>