<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">
    <target name="console" type="Console" layout="${longdate} ${level} [${threadid}] ${logger}::${message} ${newline} ${callsite:filename=true} ${newline} ${exception:format=toString,Data:maxInnerExceptionLevel=10}" detectConsoleAvailable="True" />
    <target name="file" type="File" layout="${longdate} ${level} [${threadid}] ${logger}::${message} ${newline} ${callsite:filename=true} ${newline} ${exception:format=toString,Data:maxInnerExceptionLevel=10}" fileName="${basedir}/Logs/Log.txt" archiveFileName="${basedir}/Logs/Log.{#}.txt" ArchiveEvery="Day" ArchiveNumbering="Date" MaxArchiveFiles="7" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>